[submodule "src/web-app"]
	path = src/web-app
	url = https://github.com/leopays-core/leopays-web-app
	branch = master
	ignore = dirty
[submodule "src/web-srv"]
	path = src/web-srv
	url = https://github.com/leopays-core/leopays-web-srv
	branch = master
	ignore = dirty
